.sidebar-right .avatar-list ul li {
	display: inline-block;
	margin-right: 12px;
	a:hover {
		color: $white !important;
	}
}

.app.sidebar-mini {
	.panel sidetab-menu a {
		transition: opacity .3s ease .2s, transform .4s ease .2s;
		opacity: 0;
		-webkit-transform: translateX(-30px);
		-moz-transform: translateX(-30px);
		transform: translateX(-30px);
	}
	.app-content {
		min-height: 100vh;
	}
}