.label {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	/*line-height: 1;*/
	color: $white;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.label-pill {
	padding-right: .6em;
	padding-left: .6em;
	border-radius: 10rem;
}

.label-info {
	background-color: #0a7ffb;
}

.label-primary {
	background-color: $primary;
}

.label-danger {
	background-color: #f94859;
}

.label-warning {
	background-color: $warning;
}

.label-success {
	background-color: $success;
}

.label-purple {
	background-color: #604dd8;
}

.label-pink {
	background-color: #ff2b88;
}

.label-secondary {
	background-color: rgb(237, 239, 245);
	color: $color;
}

.label {
	&.arrowed,
	&.arrowed-in {
		position: relative;
		margin-left: 9px;
	}
	&.arrowed:before,
	&.arrowed-in:before {
		display: inline-block;
		content: "";
		position: absolute;
		left: -14px;
		top: 0;
		border: 9px solid transparent;
		border-width: 9px 7px;
		border-right-color: #abbac3;
	}
	&.arrowed-right,
	&.arrowed-in-right {
		position: relative;
		margin-right: 9px;
		border-radius: 0 2px 2px 0;
	}
}

.label-info.arrowed:before {
	border-right-color: #0a7ffb;
}

.label-danger.arrowed:before {
	border-right-color: #f94859;
}

.label-success.arrowed:before {
	border-right-color: $success;
}

.label-warning.arrowed:before {
	border-right-color: $warning;
}